.login__button{
    width: 100%;
    height: 40px;
    margin-top: 50%;
    background-color: black;
    border-radius: 100px;
    color: #FFFC00;
    font-weight: bolder;
    font-size: larger;
    cursor: pointer;
}