.app{
  background-color: #FFFC00;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main_app_body{
  height: 500px;
  width: 400px;
}
.app__logo{
  width: 150px;
  margin-bottom: 10px;
}